# Functional Programming

### Lambda Functions

In [11]:
lambda x, y : x + y

In [2]:
_(2,3)

5

In [3]:
(lambda x : x**2)(5)

25

In [4]:
sum = lambda x ,y : x + y

In [5]:
sum(10,90)

100

In [6]:
data = [
    [4,"Danish"],
    [3,"Ali"],
    [5,"Wasif"],
    [2,"Sana"],
    [1,"Zahid"]
]

In [7]:
# I want to sort this array on basis of name
data.sort(key = lambda row: row[-1])

In [8]:
data

[[3, 'Ali'], [4, 'Danish'], [2, 'Sana'], [5, 'Wasif'], [1, 'Zahid']]

In [9]:
# I want to sort this array on basis of serial number
data.sort(key = lambda row: row[0])

In [10]:
data

[[1, 'Zahid'], [2, 'Sana'], [3, 'Ali'], [4, 'Danish'], [5, 'Wasif']]

### Map Function

In [27]:
# Square of numbers 
numbers = list(range(1,11))

In [28]:
squared_numbers = list(map(lambda x: x**2, numbers))
squared_numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
# add two lists
numbers_1 = list(range(1,11))
numbers_2 = list(range(11,21))

In [30]:
sum_lists = list(map(lambda x, y: x + y, numbers_1, numbers_2))
sum_lists

[12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [31]:
# Convert floats into integers
float_nums = [11.8, 45.87, 67.80, 1.9, 2.8]

In [32]:
int_nums = list(map(int, float_nums))
int_nums

[11, 45, 67, 1, 2]

### Filter Function

In [3]:
#Store even
data = [21,54,23,87,90,43,23,11,10]

In [52]:
# def is_even(value):
#     return value % 2 == 0

In [4]:
even = list(filter(lambda value: value%2 ==0,  data))
even

[54, 90, 10]

In [1]:
#Filter students with gpa greater than or equal to 3.0
data = [
    ["Ali", 3.2],
    ["Bilal", 2.9],
    ["Chand", 1.2],
    ["Mehmood", 3.0],
    ["Danish", 2.2],
]

In [56]:
def greater(row):
    return row[-1] >= 3.0

In [2]:
three = list(filter(lambda row: row[-1] >= 3.0, data))
three

[['Ali', 3.2], ['Mehmood', 3.0]]

In [58]:
# filter names ends with ad

names = ["Bilal", "Ahmad", "Chand", "Muhammad", "Danish", "Amjad"]

In [59]:
ends_with_ad = list(filter(lambda name: name.endswith("ad"), names))
ends_with_ad

['Ahmad', 'Muhammad', 'Amjad']